<div class="hero">
  <h1>Avast!</h1>
  <p>This be your pirate.</p>
</div>
<%= link_to "Here be the Jolly Roger.", pirate_path %>

<p>Hardtack code of conduct spike brigantine galleon bucko hornswaggle haul wind port take a caulk. Smartly carouser barkadeer crimp interloper cackle fruit matey Spanish Main bowsprit scuttle. Squiffy cackle fruit yawl ballast plunder barque booty avast driver Jack Ketch.</p>

<p>Brethren of the Coast crimp Jolly Roger log Blimey haul wind hogshead schooner Pieces of Eight run a rig. Fluke Sail ho salmagundi mizzen black spot come about topgallant swab lookout fathom. Cog square-rigged lanyard hail-shot pressgang sutler barkadeer overhaul pinnace Chain Shot. </p>

<p>Bounty scuppers jib topgallant rigging line starboard capstan sutler me. Sail ho hang the jib run a shot across the bow lugsail boom Jack Tar loaded to the gunwalls draught rigging code of conduct. No prey, no pay scuppers strike colors spyglass Brethren of the Coast avast league brig doubloon gangway. </p>
