<h1>The Jolly Roger</h1>
<p>For all your pirating needs. <%= link_to "Learn More", hello_path %></p>


<img>
<%= image_tag "pirate_logo.png"%>
</img>




<%= link_to root_path do %>
<center>

  <%= image_tag @image_name %>

</center>
<% end %>
